.App {
  text-align: center;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #282c34;
  font-size: large;
  /* font-weight: bold; */
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App-header {
  background-color: white;
  margin: 5%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 70%;
}
